* {
  margin: 0px;
}

html, body, #content {
  height: 100%;
}

#content {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

nav {
  display: flex;
  justify-content: space-around;

  background-color: rgb(92, 92, 138);
}

.restaurant-name {
  color: rgb(150, 41, 41);
  font-size: 30px;
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  padding: 0px;

  font-size: 20px;
  color: rgb(173, 173, 173);
}

#main-content {
  background-image: url('./restaurant_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#main-content .greeting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}


#main-content h1 {
  color: red;
  font-size: calc(2rem + 2vw);
  text-align: center;
}

#main-content h3 {
  color: rgb(219, 122, 122);
  font-size: 25px;
  text-align: center;
}

button {
  font-size: 20px;
  background-color: red;
  color: rgb(222, 222, 222);
  border: none;
  outline: none;

  border-radius: 20px;
  padding: 10px;

}

.restaurant-info {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 0%);

  width: calc(15rem + 25vw);
  /* height: calc(15rem + 5vw); */

  background-color: black;
  opacity: 0.5;

  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 20px;
}

.restaurant-info p {
  font-weight: bold;
  color: white;
}

.address, .opening-time {
  display: flex;
  flex-direction: column;
}


#food-menu {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
}

.menu-food-items {
  background-color: bisque;
  justify-content: space-between;
  margin: 5rem auto;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.food-item span {
  display: flex;

}

.food-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.food-info {
 display: flex;
 justify-content: space-between;
 border-bottom: 1px black dashed;
}

.food-price {
  color: red;
}
